body {
  font-family: Arial, sans-serif;
  background-image: url("assets/quiz.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#image-container img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

#quiz-box {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fcc;
}

#answers button {
  display: block;
  margin: 10px auto;
  width: 100%;
}
#review-list {
 text-align: left;
  margin-top: 20px;
  
}